.activation-card {
  overflow: auto !important;
}

.card-body {
  overflow: auto
}

.activation-instructions {
  text-align: left;
  font-weight: bold;
  font-size: calc(10px + 2.2vmin);
  margin-left: 8%;
  margin-right: 8%;
}

.activation-form {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  font-size: calc(4px + 2.1vmin);
}

.alert-left {
  text-align: left;
}

.form-font-size {
  font-size: calc(4px + 2.1vmin);
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.account-created {
  margin: 2%;
  font-size: calc(10px + 2.2vmin);
  font-weight: bold;
}

.btn-login {
  color: black;
  border-color: black;
  font-weight: bold;
}

.btn-login:hover, .btn-login:focus, .btn-login:not(:disabled):not(.disabled):active, 
.btn-login:not(:disabled):not(.disabled):active:focus {
  background-color: black;
  border-color: black;
  color: white;
  border-color: white;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}