.nav-button:hover, .nav-button:focus, .nav-button:not(:disabled):not(.disabled):active, 
.nav-button:not(:disabled):not(.disabled):active:focus {
  cursor: pointer;
}

.nav-logout {
  color: red !important;
}

.search-box {
  font-weight: bold;
}

.search-button {
  font-weight: bold;
}

.search-button:hover, .search-button:focus, .search-button:not(:disabled):not(.disabled):active, 
.search-button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.clear-button {
  margin-left: 2px;
}

.clear-button:hover, .clear-button:focus, .clear-button:not(:disabled):not(.disabled):active, 
.clear-button:not(:disabled):not(.disabled):active:focus {
  color: white;
  border-color: transparent;
}

.nav-collapse-left {
  text-align: left;
}

.admin-table {
  color: black;
  font-size: 20px;
}

th, td {
  text-align: left;
  font-weight: 900;
}

.loading {
  height: 10rem;
  width: 10rem;
}

.container {
  height: 100vh;
}

.admin-row, .loading-row {
  height: 100vh;
}

.scroll {
  overflow: auto;
}

.table-fixed {
  tbody {
    overflow: auto;
    height: 800px;
  }

  th {
    background-color: lightblue;
  }

  thead, tbody {
    th, td {
      border-color: black;
    }
  }
}


.white-bg {
  background-color: white;
}

.w-m-90 {
  width: 90px !important;
}