.btn-group {
  z-index: 40;
  margin-top: 25vh;
  animation:
    fade 4s 1;
}

@keyframes fade {
  0% { opacity: 0 }
  96% { opacity: 0 }
  100% { opacity: 1 }
}

.btn {
  background-color: transparent;
  border-color: white;
  box-shadow: 1 1 1px gold,
              1 1 2px white;
  color: white;
  text-shadow: 1 1 1px gold,
               1 1 2px white,
               1 1 4px white;
  font-weight: bold;
}

.btn:hover, .btn:focus, .btn:not(:disabled):not(.disabled):active, 
.btn:not(:disabled):not(.disabled):active:focus {
  background-color: white;
  border-color: white;
  color: black;
  border-color: black;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}