.home {
    display: flex;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.home .welcome-title {
    position: absolute;
    z-index: 40;
    font-weight: 900;
    text-shadow: 1px 1px 2px grey;
    font-size: calc(30px + 2vmin);
    margin-top: 15vh;
}

.container {
    padding: 0;
    margin: 0;
    min-width: 100vw;
}

.col-6 {
    padding: 0;
    width: 100vw;
}

.col-3 {
    padding: 0;
    width: 100vw;
}

.row {
    margin: 0;
    width: 100vw;
    align-items: center;
    display: block;
}

.text-row {
    height: 40vh;
    width: 100vw;
    line-height: 10vh;
}

.buttons-row {
    height: 40vh;
}